*{
    padding: 3px;
    font-family: "Comic Sans MS";
    background-color: rgb(70, 70, 70);
}
header{
    text-align: center;
    font-size: x-large;
    background-color: rgb(4, 0, 0);
}
header h1{
    background-color: rgb(49, 0, 0);
}
p, h2{
    width: 70%;
    display: inline-block;
    margin-left: 20px;
}

nav{
    width: 20%;
    float: right;
    text-align: center;
}
a{
    text-decoration: none;
    color: aquamarine;
    font-size: larger;
    margin: 0px;
    padding: 0px;
}
.this{
    color:crimson;
}
